<div class="row">
	<div class="col-lg-12">
		&nbsp;
	</div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6" onclick="loadMenu('010101')" style="cursor: pointer">
		<div class="panel panel-green">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i id="drdMark" class=""></i>
					</div>
					<div class="col-xs-9 text-right">
						<div id="drdMarkPersen" class="huge">0.00 %</div>
						<div id="drdKini">Rp. 0</div>
					</div>
				</div>
			</div>
			<a>
				<div class="panel-footer">
					<span class="pull-left">Pendapatan Bulan Ini</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6" onclick="loadMenu('020101')" style="cursor: pointer">
		<div class="panel panel-yellow">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i id="efesMark" class=""></i>
					</div>
					<div class="col-xs-9 text-right">
						<div id="efesPersen" class="huge">0.00 %</div>
						<div id="efes">Rp. 0</div>
					</div>
				</div>
			</div>
			<a>
				<div class="panel-footer">
					<span class="pull-left">Efesiensi Penerimaan</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
        <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                        <div class="panel-heading">
                                <div class="row">
                                        <div class="col-xs-3">
                                                <i id="efekMark" class=""></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                                <div id="efekPersen" class="huge">0.00 %</div>
                                                <div id="efek">Rp. 0</div>
                                        </div>
                                </div>
                        </div>
                        <a>
                                <div class="panel-footer">
                                        <span class="pull-left">Efektivitas</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                </div>
                        </a>
                </div>
        </div>
	<div class="col-lg-3 col-md-6" onclick="loadMenu('040101')" style="cursor: pointer">
		<div class="panel panel-red">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i id="wmmrMark" class=""></i>
					</div>
					<div class="col-xs-9 text-right">
						<div id="wmmrPersen" class="huge">0.00 %</div>
						<div id="wmmr">Rp. 0</div>
					</div>
				</div>
			</div>
			<a>
				<div class="panel-footer">
					<span class="pull-left">Proyeksi Pendapatan</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
</div>

<!-- /.row -->
<div id="page-content" class="row">
	<input type="hidden" id="updateLokasi" value=1 />
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span>Bacaan Seluruh Cabang (Dalam Persen Terhadap DSML)</span>
				<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			</div>
			<div class="panel-body">
				<div id="morris-donut-chart"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span>Koreksi Seluruh Cabang (Dalam Satuan Terhadap Input Cater)</span>
				<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			</div>
			<div class="panel-body">
				<div id="koreksi-donut-chart"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span>Bacaan Per Cabang (Dalam Satuan)</span>
				<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			</div>
			<div class="panel-body">
				<div id="morris-bar-chart"></div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function(){
		jQuery(function() {
			dashboard();
			function dashboard(){
				setTimeout(dashboard,300000);
				if(jQuery('#morris-donut-chart').length){
					jQuery.get('http://10.30.20.2/api/bacaan/view_rekap.php', function(data){
						data	= data[0];
						valueA	= 100*data.sl_disettle/data.sl_diorder;
						valueB	= 100*data.sl_belum_disettle/data.sl_diorder;
						valueC	= 100*data.sl_belum_dibaca/data.sl_diorder;
						jQuery('#morris-donut-chart').html('');
						Morris.Donut({
							element: 'morris-donut-chart',
							data: [{
								label: "Input Cater",
								value: valueA.toFixed(2)
							}, {
								label: "Input Manual",
								value: valueB.toFixed(2)
							}, {
								label: "Belum Input",
								value: valueC.toFixed(2)
							}],
							resize: true
						});
					},'json');
				}
			}
		});

		jQuery(function() {
			dashboard();
			function dashboard(){
				setTimeout(dashboard,300000);
				if(jQuery('#koreksi-donut-chart').length){
					jQuery.get('http://10.30.20.2/api/bacaan/koreksi/view_rekap.php', function(data){
						data	= data[0];
                                                valueA  = 1*data.sl_dibaca_valid + 1*data.sl_dikoreksi;
                                                valueB  = 100*data.sl_dibaca_valid/valueA;
                                                valueC  = 100*data.sl_dikoreksi/valueA;
						jQuery('#koreksi-donut-chart').html('');
						Morris.Donut({
							element: 'koreksi-donut-chart',
							data: [{
								label: "Divalidasi",
								value: valueB.toFixed(2)
							}, {
								label: "Dikoreksi",
								value: valueC.toFixed(2)
							}],
							resize: true
						});
					},'json');
				}
			}
		});

		jQuery(function() {
			dashboard();
			function dashboard(){
				setTimeout(dashboard,300000);
				if(jQuery('#morris-bar-chart').length){
					jQuery.get('http://10.30.20.2/api/bacaan/cabang/view_rekap.php', function(data){
						jQuery('#morris-bar-chart').html('');
						Morris.Bar({
							element: 'morris-bar-chart',
							data: data,
							xkey: 'unit',
							ykeys: ['sl_diorder', 'sl_disettle', 'sl_belum_disettle', 'sl_belum_dibaca'],
							labels: ['Jumlah DSML', 'Input Cater', 'Input Manual', 'Belum Dibaca'],
							hideHover: 'auto',
							resize: true
						});
					},'json');
				}
			}
		});

		var efesLalu = 0;
		var efekLalu = 0;
		jQuery.get('http://10.30.20.2/api/penerimaan/bulanlalu/view_rekap.php', function(data){
			efesLalu = data[0].efes_lalu;
			efekLalu = data[0].efek_lalu;
		},'json');

		jQuery(function() {
			dashboard();
			function dashboard(){
			   setTimeout(dashboard,50000);
			   var drdLalu	= 0;
			   var drdKini	= 0;
			   var drdMark	= 0;
			   var efesMark	= 0;
			   var efekMark = 0;
			   var efes     = 0;
			   var efek	= 0;
                           var dsml     = 0;
                           var wmmr     = 0;
			   var awal	= 0;

			   jQuery.get('http://10.30.20.2/api/dashboard/get_dashboard_sopp.php', function(data){
					data = JSON.parse(data.replace('data: ',''));
					jQuery.each(data.sopp, function(key, value){
						drdLalu = drdLalu + parseInt(value.drd_lalu);
						drdKini = drdKini + parseInt(value.drd_rupiah);
						efes	= efes + parseInt(value.efes);
						efek	= efek + parseInt(value.efek);
					});
					// DRD
					if(drdKini<drdLalu){
						var classUp	= "fa fa-arrow-down fa-5x";
						drdMark		= drdLalu - drdKini;
					}
					else{
						var classUp	= "fa fa-arrow-up fa-5x";
						drdMark		= drdKini - drdLalu;
					}
					jQuery('#drdMark').addClass(classUp);
					jQuery('#drdMarkPersen').html(jQuery.formatNumber((100*drdMark/drdKini), {format:'0.00', locale:'en'}) + ' %');
					jQuery('#drdKini').html('Rp. ' + jQuery.formatNumber(drdKini, {format:'#,###', locale:'en'}));
					// LPP
					if(efesLalu>0){
						if(efes<efesLalu){
							var classUp	= "fa fa-arrow-down fa-5x";
							efesMark	= efesLalu - efes;
						}
						else{
							var classUp	= "fa fa-arrow-up fa-5x";
							efesMark	= efes - efesLalu;
						}
						jQuery('#efesMark').addClass(classUp);
						jQuery('#efesPersen').html(jQuery.formatNumber((100*efesMark/efesLalu), {format:'0.00', locale:'en'}) + ' %');
					}
					jQuery('#efes').html('Rp. ' + jQuery.formatNumber(efes, {format:'#,###', locale:'en'}));


console.log(efekLalu);
console.log(efek);
                                        if(efekLalu>0){
                                                if(efek<efekLalu){
                                                        var classUp     = "fa fa-arrow-down fa-5x";
                                                        efekMark        = efekLalu - efek;
                                                }
                                                else{
                                                        var classUp     = "fa fa-arrow-up fa-5x";
                                                        efekMark        = efek - efekLalu;
                                                }
                                                jQuery('#efekMark').addClass(classUp);
                                                jQuery('#efekPersen').html(jQuery.formatNumber((100*efekMark/efekLalu), {format:'0.00', locale:'en'}) + ' %');
                                        }
                                        jQuery('#efek').html('Rp. ' + jQuery.formatNumber(efek, {format:'#,###', locale:'en'}));

					// Proyeksi DRD
					jQuery.get('http://10.30.20.2/api/dashboard/get_dashboard_wmmr.php', function(data){
						data = JSON.parse(data.replace('data: ',''));
						if(typeof data.wmmr=='object'){
							jQuery.each(data.wmmr, function(key, value){
							   wmmr = wmmr + parseInt(value.wmmr);
                                                           dsml = dsml + parseInt(value.rek_total);
							   awal	= awal + parseInt(value.drd_berjalan);
							});
							if(dsml<drdKini){
								var classUp	= "fa fa-arrow-down fa-5x";
								koreksi		= drdKini - dsml;
							}
							else{
								var classUp	= "fa fa-arrow-up fa-5x";
								koreksi		= dsml - drdKini;
							}
							jQuery('#wmmrPersen').html(jQuery.formatNumber((100*koreksi/drdKini), {format:'0.00', locale:'en'}) + ' %');
							jQuery('#wmmr').html('Rp. ' + jQuery.formatNumber(dsml, {format:'#,###', locale:'en'}));
							jQuery('#wmmrMark').addClass(classUp);

							if(wmmr>awal){
								var classUp	= "fa fa-arrow-down fa-5x";
								koreksi		= wmmr - awal;
							}
							else{
								var classUp	= "fa fa-arrow-up fa-5x";
								koreksi		= awal - wmmr;
							}
							//jQuery('#koreksiPersen').html(jQuery.formatNumber((100*koreksi/awal), {format:'0.00', locale:'en'}) + ' %');
							//jQuery('#koreksi').html('Rp. ' + jQuery.formatNumber(koreksi, {format:'#,###', locale:'en'}));
							//jQuery('#koreksiMark').addClass(classUp);
						}
					});
			   });
			}
		});
	});
</script>

