<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span>Statistik Efektifitas SPT</span>
			<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		</div>
		<div class="panel-body">
			<div id="morris-area-chart"></div>
		</div>
	</div>
</div>
<script>
	// pola efesiensi spt
	jQuery.get('http://180.250.130.131/api/dashboard/penertiban/view_rekap.php', function(data){
		Morris.Area({
		  element: 'morris-area-chart',
		  behaveLikeLine: true,
		  data: data,
		  xkey: 'periode',
		  xLabels: 'month',
		  ykeys: ['spt_dicetak','rek_dibayar_spt','penutupan'],
		  labels: ['Pemberitahuan','Pembayaran','Penutupan']
		});
	},'json');
</script>
