<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Log Aktifitas Pembacaan
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="dataTable_wrapper">
					<table class="table table-striped table-bordered table-hover" id="dataTables-example">
						<thead>
							<tr>
								<th>Nama Pelaksana</th>
								<th>Cabang / Unit / IKK</th>
                                                                <th>Bacaan Bulan Lalu</th>
								<th>Order Bulan Ini</th>
								<th>Bacaan Bulan Ini</th>
								<th>Aktifitas Terakhir</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
				<!-- /.table-responsive -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<script>
	// hasil pembacaan
	inHTML		= "";
	dataProc	= {};
	jQuery.get('http://36.80.49.11/api/dashboard/pencatatan/pembaca/view_rekap.php', function(data){
		jQuery.each(data, function(key, value){
			dataProc[value.kar_id]	= {K: value.K, A: value.A, O: value.O};
			inHTML	= inHTML +
				'<tr>' +
					'<td>' + value.kar_nama + '</td>' +
					'<td>' + value.kp_nama + '</td>' +
					'<td class="text-right">' + jQuery.formatNumber(value.reff_lalu, {format:'#,###', locale:'en'}) + '</td>' +
                                        '<td class="text-right">' + jQuery.formatNumber(value.reff_kini, {format:'#,###', locale:'en'}) + '</td>' +
					'<td class="text-right">' +
						'<span id="dibaca' + value.kar_id + '">' + jQuery.formatNumber(value.sl_dibaca, {format:'#,###', locale:'en'}) + '</span>' +
					'</td>' +
					'<td class="text-center">' +
						'<span id="last' + value.kar_id + '">' + value.sm_tgl + '</span>' +
						'<span class="pull-right">' +
							'<a class="fa fa-map-marker" onclick="loadMap(\'' + value.kar_id + '\')"></a>' +
						'</span>' +
					'</td>' +
				'</tr>';
		});
		localStorage.setItem('bootstrap', JSON.stringify(dataTemp));
		jQuery('#dataTables-example tbody').append(inHTML);
        jQuery('#dataTables-example').DataTable({
            responsive: true
        });
		// update data bacaan
		jQuery(function() {
			dashboard();
			function dashboard(){
				setTimeout(dashboard,30000);
				jQuery.get('http://36.80.49.11/api/dashboard/pencatatan/pembaca/view_rekap.php', function(data){
					jQuery.each(data, function(key, value){
						dataProc[value.kar_id]	= {K: value.K, A: value.A, O: value.O};
						jQuery('dibaca' + value.kar_id).html(jQuery.formatNumber(value.sl_dibaca, {format:'#,###', locale:'en'}));
						jQuery('last' + value.kar_id).html(value.sm_tgl);
					});
					localStorage.setItem('bootstrap', JSON.stringify(dataTemp));
				},'json');
			}
		});
	},'json');
	// fungsi map
	function loadMap(param){
		dataFeed = dataProc[param];
		jQuery('#myModal').modal('show');
		deleteMarkers()
		if(dataFeed.K!='-' || dataFeed.A!='-'){
			// setPuseur(dataFeed);
			addMarker(dataFeed);
		}
		else{
			console.log(dataFeed);
		}
	}
</script>

