<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Log Aktifitas Penjualan
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="dataTable_wrapper">
					<table class="table table-striped table-bordered table-hover" id="dataTables-example">
						<thead>
							<tr>
								<th>Nama Pelaksana</th>
								<th>Cabang / Unit / IKK</th>
								<th>Jumlah Transaksi</th>
								<th>Aktifitas Terakhir</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<script>
	// hasil pembacaan
	inHTML	= "";
	jQuery.get('http://36.80.49.11/api/dashboard/penerimaan/kasir/view_rekap.php', function(data){
		jQuery.each(data, function(key, value){
			inHTML	= inHTML +
				'<tr>' +
					'<td>' + value.kar_nama + '</td>' +
					'<td>' + value.kp_ket + '</td>' +
					'<td align="right">' + value.rek_lembar + '</td>' +
					'<td>' + value.byr_tgl + '</td>' +
				'</tr>';
		});
		jQuery('#dataTables-example tbody').append(inHTML);
        jQuery('#dataTables-example').DataTable({
            responsive: true
        });
	},'json');
</script>
