<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading" onclick="loadMenu('050101')" style="cursor: pointer">
			<span>Rekapitulasi Penerimaan Kasir Bulan</span>
			<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		</div>
		<div class="panel-body">
			<div id="kasir-bar-chart"></div>
		</div>
	</div>
</div>
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span>Statistik Penerimaan Loket PPOB</span>
			<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		</div>
		<div class="panel-body">
			<div id="loket-area-chart"></div>
		</div>
	</div>
</div>

<script>
	// rekap penerimaan kasir bulan ini
	jQuery.get('/api/penerimaan/kasir/view_rekap.php', function(data){
		Morris.Bar({
			element: 'kasir-bar-chart',
			data: data,
			xkey: 'kar_nama',
			ykeys: ['rek_lembar'],
			labels: ['Lembar Transaksi'],
			hideHover: 'auto',
			resize: true
		});
	},'json');
	// statistik loket ppob
	jQuery.get('/api/penerimaan/loket/view_rekap.php', function(data){
		Morris.Area({
		  element: 'loket-area-chart',
		  behaveLikeLine: false,
		  data: data,
		  xkey: 'periode',
		  xLabels: 'month',
		  ykeys: ['loket_bpr','loket_bij','loket_bri','loket_mkm','loket_arn','loket_lim','loket_pos','loket_bsm','loket_bjbs','loket_bjb','loket_bni','loket_btn','loket_pam','loket_kol'],
		  labels: ['BPR Garut','BPR IJ','Bank BRI','Loket MKM','Loket Arindo','Loket LIM','Loket POS','Bank BSM','Bank BJBS','Bank BJB','Bank BNI','Bank BTN','Loket PDAM','Loket Kolektif']
		});
	},'json');
</script>

