<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading" onclick="loadMenu('050201')" style="cursor: pointer">
			<span>Performansi Pembaca Meter</span>
			<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		</div>
		<div class="panel-body">
			<div id="order-bar-chart"></div>
		</div>
	</div>
</div>
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span>Hasil Pembacaan</span>
			<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		</div>
		<div class="panel-body">
			<div id="morris-bar-chart"></div>
		</div>
	</div>
</div>
<script>
	// hasil pembacaan
	jQuery.get('/api/dashboard/pencatatan/pembaca/view_rekap.php', function(data){
		Morris.Bar({
			element: 'morris-bar-chart',
			data: data,
			xkey: 'kar_nama',
			ykeys: ['reff'],
			labels: ['Meter Dibaca'],
			hideHover: 'auto',
			resize: true
		});
	},'json');
	// performansi pembaca
	jQuery.get('/api/dashboard/pencatatan/pembaca/order/view_rekap.php', function(data){
		Morris.Bar({
			element: 'order-bar-chart',
			data: data,
			xkey: 'kar_nama',
			ykeys: ['sl_order','sl_dibaca'],
			labels: ['Jumlah Ditugaskan','Jumlah Dibaca'],
			hideHover: 'auto',
			resize: true
		});
	},'json');
</script>

