<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span>Statistik Pendapatan dan Potensi NRW Meterisasi</span>
			<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		</div>
		<div class="panel-body">
			<div id="meterisasi-area-chart"></div>
		</div>
	</div>
</div>
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span>Statistik Kenaikan DRD</span>
			<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		</div>
		<div class="panel-body">
			<div id="golongan-area-chart"></div>
		</div>
	</div>
</div>
<script>
	// statistik kenaikan DRD
	jQuery.get('/api/pendapatan/mutasi/view_rekap.php', function(data){
		Morris.Area({
		  element: 'golongan-area-chart',
		  data: data,
		  xkey: 'periode',
		  xLabels: 'month',
		  ykeys: ['sambung_baru_total','mutasi_golongan_total'],
		  labels: ['Penyambungan','Mutasi Golongan']
		});
	},'json');
	// statistik potensi NRW Meterisasi
	jQuery.get('/api/pendapatan/meterisasi/view_rekap.php', function(data){
		Morris.Area({
		  element: 'meterisasi-area-chart',
		  data: data,
		  // behaveLikeLine : true,
		  xkey: 'periode',
		  xLabels: 'month',
		  ykeys: ['pendapatan_total','meterisasi_total'],
		  labels: ['Pendapatan','Potensi NRW']
		});
	},'json');
</script>

