<div class="table-responsive">
	<table id="tabel-lpp" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th class="center">No SL</th>
				<th class="center">Nama</th>
				<th class="center">Rayon</th>
				<th class="center">Bulan</th>
				<th class="center">Tahun</th>
				<th class="center">DRD</th>
				<th class="center">Denda</th>
				<th class="center">Dibayar</th>
				<th class="center">Kasir</th>
				<th class="center">Remark</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th class="center">No SL</th>
				<th class="center">Nama</th>
				<th class="center">Rayon</th>
				<th class="center">Bulan</th>
				<th class="center">Tahun</th>
				<th class="center">DRD</th>
				<th class="center">Denda</th>
				<th class="center">Dibayar</th>
				<th class="center">Kasir</th>
				<th class="center">Remark</th>
			</tr>
		</tfoot>
		<tbody></tbody>
	</table>
</div>
<div class="clear-fix"></div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Rincian Rekening</h4>
      </div>
      <div class="modal-body">
		<form class="form-horizontal" onsubmit="return false">
			<div class="form-group">
				<label class="col-sm-5 control-label" for="example-input-normal">Pemakaian Air</label>
				<div class="col-sm-3 input-append">
					<input type="text"  name="rek_pakai" class="form-control col-sm-3" style="text-align: right" disabled readonly />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-5 control-label" for="example-input-normal">Biaya Air</label>
				<div class="col-sm-3">
					<input type="text"  name="rek_uangair" class="form-control" style="text-align: right" disabled />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-5 control-label" for="example-input-normal">Biaya Beban</label>
				<div class="col-sm-3">
					<input type="text" name="rek_beban" class="form-control" style="text-align: right" disabled readonly />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-5 control-label" for="example-input-normal">Denda</label>
				<div class="col-sm-3">
					<input type="text" name="rek_denda" class="form-control" style="text-align: right" disabled />
				</div>
			</div>
		</form>
	  </div>
      <div class="modal-footer">
		<div class="btn-group sunting hidden">
			<button id="button-batal" class="btn btn-sm btn-info"><i class="fa fa-times"></i> Batal</button>
			<button id="button-simpan" class="btn btn-sm btn-warning"><i class="fa fa-save"></i> Simpan</button>
		</div>
		<div class="btn-group rincian">
			<button id="button-kembali" class="btn btn-sm btn-info" data-dismiss="modal"><i class="fa fa-arrow-circle-left"></i> Kembali</button>
			<button id="button-sunting" class="btn btn-sm btn-info"><i class="fa fa-pencil-square-o"></i> Sunting</button>
			<button id="button-delete" class="btn btn-sm btn-warning"><i class="fa fa-trash-o"></i> Hapus</button>
		</div>
      </div>
    </div>
  </div>
</div>

<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + 'view_rinci_lpp.js');
</script>
